<html>
<head>
	<title>$action.getText("flowdock.config.title")</title>
</head>
<body>
	#parse ( "/template/includes/actionmessages.vm" )
	#parse ( "/template/includes/actionerrors.vm" )
	
	<p>Flowdock is the super bestest tool. Get instructions from da website.</p>
	
	#if ($spaces.size() > 0)
		<form action="save.action" method="post">
		<table border=1>
		#foreach ($space in $spaces)
			<tr>
				<td>
					<strong>$space.name</strong><br/>
					$space.description.toString()
				</td>
				<td>
					Flowdock API key: <input type="text" size=20 name="api_for_space"/>
				</td>
			</tr>
		#end
		</table>
		<input type="submit" value="Save changes"/>
		</form>
	#else
		<p>No spaces configured. Please add some spaces first.</p>
	#end
</body>
</html>