<html>
<head>
	<title>$action.getText("flowdock.config.title")</title>
</head>
<body>
	#parse ( "/template/includes/actionmessages.vm" )
	#parse ( "/template/includes/actionerrors.vm" )
	
	$action.getText("flowdock.config.introtext")
	
	#if ($apiKeyPairs.size() > 0)
		<form action="save.action" method="post">
		<table border=1>
		#foreach ($apiKeyPair in $apiKeyPairs)
			<tr>
				<td>
					<strong>$apiKeyPair.space.name</strong><br/>
					$apiKeyPair.space.description.toString()
					<input type="hidden" name="spaceKeys" value="$apiKeyPair.spaceKey"/>
				</td>
				<td>
					$action.getText("flowdock.config.api.key.label"):
					<input type="text" size=20 name="apiKeys" value="$!generalUtil.escapeForJavascript($apiKeyPair.apiKey)"/>
				</td>
			</tr>
		#end
		</table>
		<input type="submit" value="$action.getText("flowdock.config.save")"/>
		</form>
	#else
		<p>$action.getText("flowdock.config.no.spaces")</p>
	#end
</body>
</html>